#hero-container {
    height: 100vh;
    width: 100%;
    background: url('./images/desktop/image-header.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero-container h1 {
    font-family: 'Fraunces', serif;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 0.5rem;
    color: hsl(0, 0%, 100%);
    margin: 12rem 0 5rem;
    text-align: center;
}
