.testimonials-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials-container h2 {
    font-family: 'Fraunces', serif;
    max-width: 85%;
    text-align: center;
    letter-spacing: 0.4rem;
    font-weight: 900;
    color: hsl(210, 4%, 67%);
    margin-top: 0;
    margin-bottom: 6rem;
}

.testimonials-cards-container {
    display: flex;
    justify-content: space-around;
    padding: 0 min(10rem, 15vw);
}

@media (min-width: 750px) {
    .testimonials-container {
        padding: 8rem 0 10rem;
    }
}
