.testimonial-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-container img {
    border-radius: 5rem;
    width: 4rem;
    height: auto;
}

.testimonial-text {
    text-align: center;
    color: hsl(213, 9%, 39%);
    line-height: 1.6rem;
    margin: 3rem 0;
}

.testimonial-position {
    color: hsl(210, 4%, 67%);
}

.testimonial-name {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: hsl(212, 27%, 19%);
    margin: 0;
}

@media (min-width: 750px) {
    .testimonial-container {
        width: 30%;
    }
}
